@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Bold'), url(./fonts/Gilroy-Bold.ttf) format('truetype');
}

* {
  
  font-family: 'Gilroy-Bold', sans-serif; 
}

.App{
  background-color: #1F2129;
}

